@import "catppuccin-mocha.css";

@define-color color-dark-primary @base;
@define-color color-dark-secondary @surface0;

@define-color color-white @text;

@define-color color-active @blue;
@define-color color-urgent @red;

* {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-image: none;
    font-family: "Iosevka Nerd Font Propo";
}

scale > trough {
    background-color: @color-dark-secondary;
}

scale > trough > highlight {
    background-color: @color-active;
    border-style: solid;
    border-color: @color-active;
    border-width: 0.2em;
}

scale > trough > slider {
    background-color: @color-white;
}

switch > slider {
    background-color: @color-white;
}

switch:checked {
    background-color: @color-active;
}

switch:not(:checked) {
  background-color: @color-dark-secondary;
}

#bar, popover, popover contents, calendar, popover .view {
    background-color: @color-dark-primary;
}

box, button, label {
    background-color: #0000;
    color: @color-white;
}

button {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

button:hover, button:active, *:selected {
    background-color: @color-dark-secondary;
}

#end > * + * {
    margin-left: 1.0em;
}

.sysinfo > * + * {
    margin-left: 0.5em;
}

.popup-clock .calendar-clock {
    font-size: 2.0em;
}

.popup-clock .calendar .today {
    background-color: @color-active;
}

.workspaces .item.focused {
    background-color: @color-dark-secondary;
}

.workspaces .item.urgent {
    background-color: @color-urgent;
}

#volicon {
    font-size: 28px;
}
